
/* Acordeon styles */
.tab {
  width: 100%;
  color: white;
  
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 3em;
  background: #45496d;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: Cera_Stencil_PRO_Trial_Medium;
}
.blue label {
  background: #45496d;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #45496d;
  transition: max-height 500ms;
}
.blue .tab-content {
  background: #3498db;
}
.tab-content>ul> {
	padding: 0px;
	margin: 0px;
}
.tab-content>ul>li {
  margin: 1em;
  list-style-type: none;

}
.tab-content>ul>li:before {
	content: url('../img/folder.png');
	margin-left: 10px;
}
.tab-content>ul>li>a {
	color: white;
	font-size: 1.1rem;
	font-family: Cera_Stencil_PRO_Trial_Medium;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;

}
/* Icon */
.tab label::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  transition: all 1500ms;
}
.tab input[type=checkbox] + label::after {
   content: "+";
   transition: 500ms;
}

.tab input[type=checkbox]:checked + label::after {
  transition: 500ms;
  content: "-";
}
