@font-face {
    font-family: Cera_Stencil_PRO_Trial_Medium;
    src: url('../fonts/Cera_Stencil_PRO_Trial_Medium.otf');
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

        html {
            scroll-behavior: smooth;
        }

       /* h1 {
            margin-top: 70px;
            height:100px;
            margin-bottom: 0px;    
        }*/
        iframe {
            margin: 0 auto;
            width: 100%;
            height: 600px;
        }   

         * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        a,
        a:hover,
        a:link,
        a:visited,
        a:active {
            text-decoration: none;
        }

        
        @media screen and (max-width: 767.98px) {
            .container {
                width: 530px;
            }

            ul.table {
                margin-bottom: auto;
            }

            .go-top a {
                color: white;
            }
        }

        ul.table {
            list-style-type: none;
            margin: 20px 0;
            padding: 0;
            width: 100%;
            display: table;
            color:black;
            font-family: Cera_Stencil_PRO_Trial_Medium;
            text-shadow: 1px 1px 1px black;
        }

        @media screen and (max-width: 767.98px) {
            ul.table {
                margin-bottom: 0;
            }
        }

        .row {
            display: table-row;
            background: rgb(220, 217, 253);
        }

        .row.header {
            font-size: 16px;
            font-weight: 600;
            color: #ffffff;
            background: #8faad0;
        }

        .cell {
            padding: 10px 12px;
            display: table-cell;
            border-bottom: 1px solid #8faad0;
        }
        
        .cell a {
            color: white;
        }

        @media screen and (max-width: 767px) {

            ul.table {
                display: block;
            }

            .row {
                padding: 10px 0 6px;
                display: block;
                border-bottom: 1px solid #8faad0;
            }

            .row.header {
                padding: 0;
                height: 20px;
            }

            .cell {
                padding: 0px 20px;
                display: block;
                border-bottom: unset;
                text-align: center;
            }

            .row.header .cell {
                display: none;
            }

            .row .cell {
                margin-bottom: 10px;
            }

            .row .cell:before {
                margin-bottom: 4px;
                content: attr(data-title);
                font-size: 10px;
                line-height: 1.2em;
                font-weight: bold;
                color: cornflowerblue;
                display: block;
                text-shadow: 0px 0px 0px black;
            }

        }

        .link {
            text-decoration: none;
            display: block;
            margin: 0 auto;
            height: 20px;
            cursor: pointer;
            animation-name: animateArrow;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }

        @keyframes animateArrow {
            0% {
                transform: translateY(0px);
            }

            50% {
                transform: translateY(10px);
            }

            100% {
                transform: translateY(0px);
            }
        }
    
        footer {
            margin: 30px 0 10px 0; 
            text-align: center;
        }

        /*До выпуска */
.countdown {
       display: flex;
       justify-content: center;
       margin-bottom: 50px;
}

.countdown div {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 15%;
        height: 300px;
        font-size: 6vw;
        position: relative;
        line-height: 100px;
        text-align: center;
        background: rgb(220, 217, 253);
        color: #fff;
        margin: 0 15px;
        font-weight: 500;
        font-family: Cera_Stencil_PRO_Trial_Medium;
}

.countdown div:before {
       content: "";
       position: absolute;
       bottom: -30px;
       left: 0;
       width: 100%;
       height: 35px;
       background: #ffce00;
       color: #333;
       font-size: 0.35em;
       line-height: 35px;
       font-weight: 300;
}

.countdown div#day:before {
       content: "днів";
}

.countdown div#hour:before {
       content: "год.";
}

.countdown div#minute:before {
       content: "хв.";
}

.countdown div#second:before {
       content: "сек.";
}

   /* svg анимация в футере для ухода с футера в хедер*/
   .go-top {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;

                padding: 5px 0 10px 0;
            }

      .link {
            text-decoration: none;
            display: block;
            margin: 0 auto;
            height: 20px;
            cursor: pointer;
            animation-name: animateArrow;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }

        @keyframes animateArrow {
            0% {
                transform: translateY(0px);
            }

            50% {
                transform: translateY(10px);
            }

            100% {
                transform: translateY(0px);
            }
        }

        .arrow-top {
            width: 30px;
            height: 20px;
            fill: white;
            transform: rotate(180deg);
        }

body {
    margin: 0 30px 0 30px;
    cursor: url("https://img.icons8.com/fluent/48/000000/cursor--v2.png"), auto;
    /*background: url('../img/images.jfif');*/
    background-color: rgb(111, 124, 158);
}

button:active,
button:focus {
    outline: none;
}

.owl-prev,
.owl-next,
span {

    color: white;
}

.text-box-list {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;
    justify-content: space-evenly;*/
    justify-content: center;
    text-align: center;
}


h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-size: 5vw;
    text-align: center;
    height:100px;
    margin-bottom: 0px;
    font-family: Cera_Stencil_PRO_Trial_Medium;
    text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
}
@media (max-width: 1000px) {
    h1 {
        font-size: 4em;  
    }
}
@media (max-width: 600px) {
    h1 {
        font-size: 3em;  
    }
}
h1 span:hover {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
}
.text-box-list p {
    font-family: Cera_Stencil_PRO_Trial_Medium;
    padding: 0;
    margin: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
}
.text-box-list a {
    font-family: Cera_Stencil_PRO_Trial_Medium;
    padding: 0;
    color: white;
    animation: shadow-contact 3s infinite ease-in-out;
}
.text-box-list-p {
   font-family: Cera_Stencil_PRO_Trial_Medium;
    text-align: center;
    padding: 20px 0 20px 0;
    color: white;
    animation: shadow-contact 3s infinite ease-in-out;
}
@keyframes shadow-contact {
          from {text-shadow: 0 0 3px white;}
          50% {text-shadow: 0 0 30px white;}
          to {text-shadow: 0 0 3px white;}
}

img {
    transition: 500ms;
}
img:hover {
    transform: scale(1.03, 1.03);
}
/*
.text-box-list p:hover {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF;
}
*/
